<%- include("partials/header") %>
<sh
 <!-- <div class = "container">
    <div class = "row mt-4">
        <div class = "col-6 show_image-container">
            <img src= "<%= card.image %>">
        </div>
    
        <div class = "col-6 show_details-container">
            <h1><%= card.name%></h1>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Mana Cost</th>
                    <td ><%= card.cmc %></td>
                  </tr>

                  <tr>
                    <th scope="row">Description</th>
                    <% if (  card.keywords.length > 0) { %>
                        <td colspan= 3> <%= card.keywords %> <br> <%= card.description %></td>
                     <% } else { %>
                         <td colspan= 3>  <%= card.description %></td>
                    <%  } %>
                  </tr>
                
                  <tr>
                    <th scope="row">Type</th>
                    <td><%= card.cardType %> <%=card.subTypes%></td>
                  </tr>

                  <tr>
                    <th scope="row">Power</th>
                    <td>Attack: <%= card.attack %>    </td>
                  </tr>

                  <tr>
                    <th scope="row">Toughness</th>
                    <td>Health: <%= card.health %>  </td>
                  </tr>

                  <tr>  
                    <th scope="row">Loyalty</th>
                    <td>Loyalty: <%= card.loyalty %></td>
                  </tr>
                  
                </tbody>
              </table>
              <% if (user && user.username === card.owner.username) { %>
              
              <div class="d-grid gap-2  ">
                <a href ="/cards/<%= card._id%>/edit"> 
                  <button class="btn btn-light btn-primary btn-outline-info btn-lg btn-block mb-2" type="button">Edit
                  </button>
                </a>
              </div>
              <form action ="/cards/<%=card.id%>?_method=DELETE" method= "POST">
                <button type = "submit" class = "btn btn-light btn-primary btn-outline-danger btn-lg btn-block mb-2">
                  Delete
                </button>
              </form>
              <% } %>
        </div>
    </div>
  
      <!-- <div class = "row show_comment-header mt-3">
        Comments
      </div>
      <% comments.forEach((comment => { %>
         <div class = "row show_comment-container py-2 border">
          <div class = "col-2  my-auto border-end ">
            <%= comment.user.username %>
           </div>
           
          <div class = "col-8 my-auto">
            <%= comment.text %>
        </div>
        <div class = "col-2 my-auto  d-flex flex-wrap justify-content-center">
          <% if (user && user.username === comment.user.username) { %>

          <a class = "btn btn-sm btn-success w-75 p-0 my-1" href = "/cards/<%=card._id%>/comments/<%=comment._id%>/edit">
            Edit
          </a>
            <form class = "w-75 my-1" action ="/cards/<%=card._id%>/comments/<%=comment._id%>?_method=DELETE" method = "POST">
            <button class = "btn btn-sm btn-danger w-100 p-0">
              Delete
            </button>
          </form>

          <% } %>
         </div>
      </div>
    <%  })); %>

    <a href ="/cards/<%= card._id %>/comments/new">
      <button class = "btn btn-success btn-lg mb-4 mt-4">Add Comment</button>
    </a>
  </div>
  <div class = "py-5"></div> --> -->

 
   <%- include("partials/footer") %>